---
layout: page
title: "Personal MBA"
---


{% for post in site.posts reversed %}
    {% if post.tags contains 'MBA' %}
        <hr>
        <div class="post-preview" style="margin-top: 2%;">
            <a href="{{ post.url | prepend: site.baseurl }}">
                <h2 class="post-title">
                    {{ post.title }}
                </h2>
                {% if post.subtitle %}
                <h3 class="post-subtitle" style="font-weight: 300; font-size:20px; font-family: Helvetica;">
                    {{ post.subtitle }}
                </h3>
                {% endif %}
            </a>
        </div>
    {% endif %}
{% endfor %}

<hr>


<div class="post-preview" style="margin-top: 2%;">
    <h2 class="post-title">Reading List</h2>
    <form action="" method="get">
        <input type="checkbox" checked>
        <label><a href="https://personalmba.com/">The Personal MBA</a>, by Josh Kaufman</label><br>

        <input type="checkbox" checked>
        <label><a href="https://www.amazon.com/Go-Alone-Building-Successful-Business/dp/0060731141">Go It Alone</a>, by Bruce Judson</label><br>

        <input type="checkbox" checked>
         <label><a href="https://www.amazon.com/Ready-Fire-Aim-Zero-Million/dp/0470182024">Ready, Fire, Aim</a>, by Michael Masterson</label><br>

        <input type="checkbox" checked>
        <label><a href="https://www.amazon.com/Psychology-Selling-Increase-Thought-Possible/dp/0785288066/">The Psychology of Selling</a>, by Brian Tracy</label><br>

        <input type="checkbox" checked>
        <label><a href="https://www.amazon.com/gp/product/B004H4XL7E/">Pitch Anything</a>, by Oren Klaff</label><br>

</form>
</div>