---
layout: page
title: "Personal MBA"
---


{% for post in site.posts reversed %}
    {% if post.tags contains 'MBA' %}
        <hr>
        <div class="post-preview" style="margin-top: 2%;">
            <a href="{{ post.url | prepend: site.baseurl }}">
                <h2 class="post-title">
                    {{ post.title }}
                </h2>
                {% if post.subtitle %}
                <h3 class="post-subtitle" style="font-weight: 300; font-size:20px; font-family: Helvetica;">
                    {{ post.subtitle }}
                </h3>
                {% endif %}
            </a>
        </div>
    {% endif %}
{% endfor %}

<hr>

<div class="post-preview" style="margin-top: 2%;">
    <h2 class="post-title">Reading List</h2>
    <form action="" method="get">

        <input type="checkbox" checked>
        <label><a href="https://personalmba.com/">The Personal MBA</a>, by Josh Kaufman</label><br>

        <input type="checkbox" checked>
        <label><a href="https://www.amazon.com/Simple-Path-Wealth-Financial-Independence/dp/1533667926">The Simple Path to Wealth</a>, by J. L. Collins</label><br>

        <input type="checkbox" checked>
        <label><a href="https://www.amazon.com/dp/0143115766/">Your Money or Your Life</a>, by Joel Dominguez & Vicki Robin</label><br>

        <input type="checkbox" checked>
        <label><a href="https://www.amazon.com/dp/1589795474/">The Millionaire Next Door</a>, by Thomas Stanley & William Danko</label><br>

        <input type="checkbox" checked>
        <label><a href="http://earlyretirementextreme.com/">Early Retirement Extreme</a>, by Jacob Lund Fisker</label><br>

        <input type="checkbox" checked>
        <label><a href="https://www.amazon.com/Little-Book-Common-Sense-Investing/dp/0470102101">The Little Book of Common Sense Investing</a>, by Jack Bogle</label><br>

        <input type="checkbox" checked>
        <label><a href="https://www.amazon.com/Go-Alone-Building-Successful-Business/dp/0060731141">Go It Alone</a>, by Bruce Judson</label><br>

        <input type="checkbox" checked>
         <label><a href="https://www.amazon.com/Ready-Fire-Aim-Zero-Million/dp/0470182024">Ready, Fire, Aim</a>, by Michael Masterson</label><br>

        <input type="checkbox" checked>
        <label><a href="https://www.amazon.com/Psychology-Selling-Increase-Thought-Possible/dp/0785288066/">The Psychology of Selling</a>, by Brian Tracy</label><br>

        <input type="checkbox" checked>
        <label><a href="https://www.amazon.com/gp/product/B004H4XL7E/">Pitch Anything</a>, by Oren Klaff</label><br>

        <input type="checkbox" checked>
        <label><a href="https://www.amazon.com/dp/0374533555/">Thinking, Fast and Slow</a>, by Daniel Kahneman</label><br>

        <input type="checkbox">
        <label><a href="https://www.amazon.com/dp/0787963852/">Driven</a>, by Paul Lawrence & Nitin Nohria</label><br>

        <input type="checkbox" checked>
        <label><a href="https://www.amazon.com/dp/0142000280/">Getting Things Done</a>, by David Allen</label><br>

        <input type="checkbox" checked>
        <label><a href="https://www.amazon.com/dp/1401309704/">StrengthsFinder 2.0</a>, by Leo Babauta</label><br>

        <input type="checkbox" checked>
        <label><a href="https://www.amazon.com/dp/0142000280/">The Power of Less</a>, by David Allen</label><br>

        <input type="checkbox" checked>
        <label><a href="https://www.amazon.com/dp/0060891548/">On Writing Well</a>, by William Zinsser</label><br>

        <input type="checkbox" checked>
        <label><a href="https://www.amazon.com/dp/1400064287/">Made to Stick</a>, by Chip and Dan Heath</label><br>

        <input type="checkbox" checked>
        <label><a href="https://www.amazon.com/dp/006124189X/">Influence: The Psychology of Persuasion</a>, by Robert B. Cialdini</label><br>

        <input type="checkbox" checked>
        <label><a href="https://www.amazon.com/dp/0671027034/">How to Win Friends and Influence People</a>, by Dale Carnegie</label><br>

        <input type="checkbox" checked>
        <label><a href="https://www.amazon.com/dp/0071771328/">Crucial Conversations</a>, by Kerry Patterson et al</label><br>

        <input type="checkbox" checked>
        <label><a href="https://www.amazon.com/dp/1591397995/">3-D Negotiation</a>, by David Lax & James Sebenius</label><br>

        <input type="checkbox" checked>
        <label><a href="https://www.amazon.com/dp/0684852861/">First, Break All The Rules</a>, by Marcus Buckingham & Curt Coffman</label><br>

        <input type="checkbox" checked>
        <label><a href="https://www.amazon.com/dp/0061345016/">The Essential Drucker</a>, by Peter Drucker</label><br>

        <input type="checkbox" checked>
        <label><a href="https://www.amazon.com/dp/1476784035/">The Halo Effect</a>, by Phil Rosenzweig</label><br>

        <input type="checkbox" checked>
        <label><a href="https://www.amazon.com/dp/1401301304/">What Got You Here Won’t Get You There</a>, by Marshall Goldsmith</label><br>

        <input type="checkbox" checked>
        <label><a href="https://www.amazon.com/dp/1625274386/">Total Leadership</a>, by Stewart Friedman</label><br>

        <input type="checkbox" checked>
        <label><a href="https://www.amazon.com/dp/1591842336/">Tribes</a>, by Seth Godin</label><br>

        <input type="checkbox" checked>
        <label><a href="https://www.amazon.com/dp/0814417817/">Results Without Authority</a>, by Tom Kendrick</label><br>

        <input type="checkbox" checked>
        <label><a href="https://www.amazon.com/dp/1603580557/">Thinking in Systems</a>, by Donella Meadows</label><br>

        <input type="checkbox" checked>
        <label><a href="https://www.amazon.com/dp/0060833459/">The Effective Executive</a>, by Peter Drucker</label><br>

        <input type="checkbox" checked>
        <label><a href="https://www.amazon.com/dp/0743520815/">Lead the Field</a>, by Earl Nightingale</label><br>

        <input type="checkbox" checked>
        <label><a href="https://www.amazon.com/Power-Habit-What-Life-Business/dp/081298160X">The Power of Habit</a>, by Charles Duhigg</label><br>

        <input type="checkbox" checked>
        <label><a href="https://www.amazon.com/Radical-Candor-Kick-Ass-Without-Humanity/dp/1250103509">Radical Candor</a>, by Kim Scott</label><br>

        <input type="checkbox" checked>
        <label><a href="https://www.amazon.com/Culture-Code-Secrets-Highly-Successful/dp/0525492461">The Culture Code</a>, by Daniel Coyle</label><br>

        <input type="checkbox" checked>
        <label><a href="https://www.amazon.com/Seven-Principles-Making-Marriage-Work/dp/0609805797">The Seven Principles for Making Marriage Work</a>, by John M. Gottman</label><br>

        <input type="checkbox" checked>
        <label><a href="https://www.amazon.com/Willpower-Rediscovering-Greatest-Human-Strength/dp/0143122231">Willpower</a>, by Roy F. Baumeister</label><br>

         <input type="checkbox" checked>
        <label><a href="https://www.amazon.com/Cooked-Natural-Transformation-Michael-Pollan/dp/0143125338">Cooked: A Natural History of Transformation</a>, by Michael Pollan</label><br>

        <input type="checkbox" checked>
        <label><a href="https://www.amazon.com/Start-Why-Leaders-Inspire-Everyone/dp/1591846447">Start with Why</a>, by Simon Sinek</label><br>

        <input type="checkbox" checked>
        <label><a href="https://www.amazon.com/Defense-Food-Michael-Pollan/dp/1594133328">In Defense Of Food</a>, by Michael Pollan</label><br>

        <input type="checkbox" checked>
        <label><a href="https://www.amazon.com/Being-Mortal-Illness-Medicine-Matters/dp/1781253943/">Being Mortal</a>, by Atul Gawande</label><br>

         <input type="checkbox" checked>
        <label><a href="https://www.amazon.com/Scrum-Doing-Twice-Work-Half/dp/038534645X">Scrum</a>, by Jeff Sutherland</label><br>

        <input type="checkbox" checked>
        <label><a href="https://www.amazon.com/Prediction-Machines-Economics-Artificial-Intelligence/dp/1633695670">Prediction Machines</a>, by Ajay Agrawal, Joshua Gans and Avi Goldfarb </label><br>



</form>
</div>
<hr>
