<!-- About Section -->
<section id="about">

<div class="row">
    <div class="col-lg-12">
    <h2>Matheus Facure</h2>
        <div class="text-muted"> <img src="/img/avatar.jpeg" alt="avatar" class="img-circle img-responsive pull-left" style="width:25%;margin-right:2%">

<p>I'm an Economist by training and Data Scientist by trade. I ran my first Python script in the summer of 2016. The code scraped airlines' website to get airfare prices that would later be used to project inflation and other economic indexes. It wasn't much, but it managed to free some of my time while I worked as an intern at the brazilian Ministry of Economics. It didn't take long before I was diverging into the brave new world of big data and machine learning, which, at the time, was less than embrionary in Brazil.</p>

<p>
During all my graduation, I got tired of hearing how bad economists are at predicting, well… anything. And I thought I've found the cure for that in Machine Learning. The low R2 in the econometrics course depressed me. I couldn't wait to go home and view dozens of videos on Deep Neural Networks and Boosted Trees.</p>

<p>
Eventually, all that learning paid off and I lended a job at a rising fintech. Finally, I could dedicate all my time to squeezing the last drop of predictive performance out of my models. It took me about a year to realise something wasn't quite right. I had very performatic models and yet, they weren't as useful as I thought. Sure, I could predict what would happen to a customer or what would be next month's marketing metrics. But that was all rather passive. I couldn't influence the results in the direction that I wanted. </p>

<p>
Eventually, I would say by destiny, but probably by luck, my interest in Econometrics came back. A web series on Econometrics and Machine Learning by Susan Athey and Guido Imbens showed me that the thing I was after would take more than good predictions. I was finally on the trail paved by Joshua Angrist, Alberto Abadie, Hal Varian, Victor Chernozhukov and many others. As I progressed, good predictions became less and less interesting. I guess I finally understood the discreet charm of Linear Regression.</p>

<p>
Now, like those that taught me, I too spend my days (at least, the good ones) happily pursuing regression output. There is nothing I would rather be doing. I hope this blog explains why.
</p>

</div>
</div>
</div>


</section>

