<!-- About Section -->
<section id="about">

<div class="row">
    <div class="col-lg-12">
    <h2>Matheus Facure</h2>
        <div class="text-muted"><img src="/img/logo.png" alt="logo" class="img-responsive img-circle pull-right" style="width:25%;margin-left:2%">

<p>Comecei esse blog para compartilhar um pouco do meu entusiasmo com inteligência artificial e aprendizado de máquina. Ele é a concretização de duas crenças minhas: (1) a de que conhecimentos extremamente úteis não devem ficar restrito a poucos e (2) a de ensinar e explicar é a melhor forma de consolidar conhecimento.</p>

</div>
</div>
</div>

<p></p>
<div class="text-muted">

<img src="/img/avatar.jpeg" alt="avatar" class="img-circle img-responsive pull-left" style="width:25%;margin-right:2%">

<p>Sou economista cientista de dados. Me especializei em Aprendizado de Máquina, Econometria, Microeconomia e Economia Comportamental. Minhas áreas de interesse são Econometria e Inferência Causal. Isso quer dizer que eu estou mais interessado em entender como é possível influenciar uma variável (por exemplo vendar) a partir de outras (por exemplo satisfação do cliente, preço...), ao passo que Aprendizado de Máquina tradicional só está interessado em prever muito bem alguma coisa.</p>

<p>Eu adoro dar aulas mas acho a academia tradicional um tanto antiquada, então procuro outras formas de fazer isso. Atualmente estou disponível para dar treinamentos. Se você quiser contratar meus serviços, <a href="mailto:matheusfacure01@gmail.com">me mande um email</a>. </p>



</div>

</section>

