<!-- About Section -->
<section id="about">

<div class="row">
<ul class="nav nav-tabs navbar-left">
    <li><a href="/about">Eng</a></li>
    <li class="active"><a href="#">PT</a></li>
</ul>
</div>

<div class="row">

     <div class="col-lg-12">
         <h2>Este Blog</h2>
          <div class="text-muted">

<p>Embora esse blog seja principalmente de tutoriais em Data Science, ele nasceu de intenções puramente egoístas: eu aprendo principalmente ao ensinar. Explicar é minha forma de consolidar meu conhecimento em um assunto. De certa forma, este blog é meu caderno de resumos sobre as coisas que eu quero aprender. Se também te servir, ótimo! mas eu já peço perdão se eu só conseguir ser didático comigo mesmo. Se você encontrar algo que eu entendi errado, melhor ainda! Me mande um email. Eu corrigirei o erro e tentará aprender mais sobre o que errei</p>

<p>Como nem só de Data Science vive o homem, esse blog também aborda outros tópicos variados que eu convenientemente categorizei como MBA. Ainda não tenho certo todos os assuntos que abordarei aqui, mas espero que seja alguma mistura de Management, Finanças Pessoais e Saúde. </p>
     </div>


    <div class="col-lg-12">
    <h2>Bio</h2>
        <div class="text-muted"> <img src="/img/avatar.jpeg" alt="avatar" class="img-circle img-responsive pull-left" style="width:25%;margin-right:2%">

<p>Sou Economista por formação e Data Scientist por profissão. Eu rodei meu primeiro script de Python no verão de 2016. O código batia em sites de companhias aéreas para pegar preços de passagens. Esses preços iriam depois ser usados para projetar inflação e outros índices econômicos. Não era nada de mais, mas conseguiu me liberar algumas horas quando eu trabalhava no Ministério da Economia. Não demorou até que eu usasse esse tempo livre para divergir para o admirável mundo novo de Big data e Machine Learning que, naquela época, ainda estava menos do que embrionário no Brasil.</p>

<p>
Durante a minha graduação, eu cansei de ouvir como economista eram péssimos em prever… qualquer coisa. O R2 baixo dos modelos econométricos me deprimial. Por um tempo, pensei que tinha achado a cura para isso em Machine Learning. Eu mal podia esperar para chegar em casa e assistir dezenas de vídeos sobre Deep Learning e Boosted Trees. </p>

<p>
Eventualmente, todo esse estudo gerou frutos e eu consegui um emprego numa fintech em ascensão. Finalmente eu podia dedicar todo o meu tempo em extrair até a última gota de performance preditiva dos meus modelos. Demorou um ano até eu perceber que algo estava estranho. Eu tinha modelos bem performáticos e, ainda assim, eles não eram tão úteis como eu havia imaginado. Tudo bem que eu conseguia prever o que aconteceria com um cliente ou quais seriam as métricas de marketing no próximo mês. Mas tudo isso era um tanto passivo. Eu não  conseguia influenciar os resultados na direção que eu queria</p>

<p>
Eventualmente, eu gostaria de dizer pelo destino, mas provavelmente por acaso, meu interesse em Econometria voltou. Uma webseries sobre Econometria e Machine Learning de Susan Athey e Guido Imbens me mostraram que o que eu queria demandaria mais do que boas previsões. Eu finalmente peguei o caminho trilhado por Joshua Angrist, Alberto Abadie, Scott Cunningham, Hal Varian, Victor Chernozhukov e muitos outros. Conforme eu progredia, boas previsões ficaram menos e menos interessantes. Acho que finalmente entendi o discreto charme da Regressão Linear.</p>

<p>
Hoje, assim como aqueles que me ensinaram, eu também "passo meu dias (os bons, ao menos) alegremente perseguindo os resultados de regressão" e eu não trocaria isso por nada. Espero que esse blog explique o porquê.
</p>



        </div>
    </div>
</div>
</div>


</section>

