<!-- Services Section -->
    <section id="services">
        <div class="container">

            <div class="row text-center">
                <div class="col-md-4">
                    <a href="/mltutorial/">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                    </span>
                    </a>

                    <h4 class="service-heading">Machine Learning Tutorials</h4>
                    <p class="text-muted">TODO</p>
                </div>
                <div class="col-md-4">
                    <a href="/portfolio/">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-brain fa-stack-1x fa-inverse"></i>
                    </span>
                    </a>
                    <h4 class="service-heading">Applied Machine Learning</h4>
                    <p class="text-muted">TODO</p>
                </div>
            </div>
        </div>
    </section>