<!-- Services Section -->
    <section id="services">
        <div class="container">

            <div class="row text-center">
                <div class="col-md-4">
                    <a href="/econtutorials/">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
                    </span>
                    </a>

                    <h4 class="service-heading">Econometrics and Causal Inference</h4>
                    <p class="text-muted">TODO</p>
                </div>
                <div class="col-md-4">
                    <a href="/ml/">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-robot fa-stack-1x fa-inverse"></i>
                    </span>
                    </a>
                    <h4 class="service-heading">Machine Learning</h4>
                    <p class="text-muted">TODO</p>
                </div>
                <div class="col-md-4">
                    <a href="/mba/">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-chart-bar fa-stack-1x fa-inverse"></i>
                    </span>
                    </a>
                    <h4 class="service-heading">Management (Personal MBA)</h4>
                    <p class="text-muted">TODO</p>
                </div>
            </div>
        </div>
    </section>