{% include css/bootstrap.min.css %}
{% include css/agency.css %}
{% include css/syntax.css %}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover {
	color: #000;
}

.post-adv-preview > a {
  color: #450206b3;
}
.post-adv-preview > a:hover,
.post-adv-preview > a:focus {
  text-decoration: none;
  color: #fc645f;
}
